@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1583062733310'); /* IE9 */
  src: url('iconfont.eot?t=1583062733310#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABpgAAAKMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBJIExATYCJAMICwYABCAFhG0HLxvWBREVjDGyH4cpHKd9IIvHMLq8W5XRafF/BwGtpbNwnw2hAkBHTDY2cQQlVmWhgq7ApOsCDRBAMPb+T+2iL3RAWZjniXZ7xv2xkty/ruc1LlEBC9g/jvm6PN8NJB/QXDKSIwEHNh1gZJNtIB/9D2MXvMDtEIAD/mKJ/Ka8HoPG7icAMW6GejAFJxrNIgaBrWGqRqxiYeScvA9Wot+Lf5IzILEUdk71YEE/2T+bnRg1fTitPUDgAgGabQEKiAUaRH1jsBKFYHiFQ1ATjGNlCvjZfHgYqBFHVSDYv85OdwLAFzKfieWxHzVdAqCT5kRQNulVID3806mzkVfmn87EXL8VNnTi8rGTXt3Pn9e/eNHw6lXTy+Smmy/I416+bDx+4UVJ/d3Wk03bHndLp0pv5EbP1iS/v7Jx+v6K77La3FTLDi2g+8xsCDmj1S0XfMfS9Nbe3hbkaazSW2h4+qSfY9P+DtkAHO5uHXH2b/wbLl36er3LNf2/cdQAvJ3ZeRDZD3d3DDODOZlJwE9jDazSBsdWSa2xGs2SxEl9JeCAA3AItnr4OFXqfYd6gSmwGEjs8AOFIRSpsbFgQXWUCjZGFjiI0c525IlsidkD0d4ABDcfkFzsgOLmi9TYH1h8/MHGrS04aMxzSUfhGZFH2DGO0L/ADFOUroZFnHlEdfMd5TkR4YqUjAfKrChHWoxIS4xId1UxS5A0BWjAbuj9BDNNFgfONPNc57ls+lA2TGEl5CGow9AI9F6AMZhEMmjMROX7R0i58TrUkVenvkIkMa2DUqYYgGyFcVDeo9yS3CkVxiQgkUkAGtAJed4EzM2dLDRgGT3BP6vlTj05VJhtLw4/kMGKsGUyp43COiZtVis=') format('woff2'),
  url('iconfont.woff?t=1583062733310') format('woff'),
  url('iconfont.ttf?t=1583062733310') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1583062733310#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ceshi:before {
  content: "\e658";
}

